@font-face {
    font-family: 'LuckiestGuy-Regular', sans-serif;   
    src: url('../fonts/LuckiestGuy-Regular_1.woff') format('woff'),
     url('../fonts/LuckiestGuy-Regular_1.woff') format('woff');
     font-weight: 600;
     font-style: normal;
     font-display: swap;
}