    .banner-newsletter{
        background: url('../img/banner-news.png')no-repeat;
        background-size: cover;
        position: relative;     
        width: 100%;    
        .layer{
            background: rgba(10, 34, 61, 0.8);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
           .content__newsletter{
               display: flex;
               justify-content: space-around;
               align-items: center;
               flex-direction: row;
            .text__letter{
                color: #fff;
                padding: 105px 0;
                .subscribe__letter{
                    font-weight: 300;
                    font-size: 34px;
                    line-height: 30px;
                }
                .newsletter{
                    font-weight: 500;
                    font-size: 46px;
                    line-height: 45px;
                    text-transform: uppercase;
                }
            }  
            .email__letter{
                width: 285px;
                height: 55px;
                color: #BDBDBD;
                outline: none;
                padding-left: 20px; 
                // padding-top: 5px;
            } 
            .btn__email{
                background-color: $red;
                color: #fff;
                border: none;
                border-radius: 0 12px 12px 0;
                width: 75px;
                height: 61px;
                position: relative;
                right: 6px;
                cursor: pointer;
                padding-right: 22px;

            }
         
        }
    }
}

@media only screen and(max-width:795px){
    .banner-newsletter .layer .content__newsletter{
        flex-direction: column;
    }
    .banner-newsletter .layer .content__newsletter .email__letter{
        margin-bottom: 54px;
    }
  
}

@media only screen and(max-width:450px){
    .banner-newsletter .layer .content__newsletter .btn__email{
        width: 52px;
    }
    .banner-newsletter .layer .content__newsletter .email__letter{
        width: 189px;
    }
    .text__letter span{
        font-size: 35px !important;
    }
}

