.cards{
    margin: 55px 0;
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        a{
            font-weight: bold;
            font-size: 15px;
            line-height: 14px;
            text-decoration: none;  
            padding: 14px 10px 25px;
            &:hover{
                color: $red;
                border-bottom: 5px solid $red; 
                padding-bottom: 20px;
            }
        }
    }
}