footer{
    background-color: #0A223D;
     margin-top: 110px ;
    .container__footer-top{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .block__footer-top{
            flex-basis: 24%;  
            padding: 95px 0;
            .text__content-footer{
            
                span{    
                    font-family: 'Luckiest Guy', cursive;             
                    color: #fff;
                    font-weight: 600;   
                    text-transform: uppercase;
                    white-space: pre-line;
                    font-size: 62px;
                    line-height: 75px;
                }
                .red__title{
                    color: $red;
                }
                
            }

   
            .title__footer-top{
                text-transform: uppercase;
                color: #fff;
                font-weight: bold;
                font-size: 18px;
                line-height: 23px;
            }
            ul{
                list-style: none;
                color: #BDBDBD;
                padding: unset;
                font-size: 14px;
            }
            .social__media-block{
                .title__footer-social{
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 23px;
                    padding-right: 23px;
                }


            }
        }
    }
    .footer__container-bottom{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .footer-contact__information{
            flex-basis: 45%;
            position: relative;
            .title__contact-footer{
                text-transform: uppercase;
                color: #fff;
                font-weight: bold;
                font-size: 18px;
                line-height: 23px;
                text-transform: uppercase;
            }
            p{
                font-size: 14px;
                line-height: 160%;
                color: #BDBDBD;
                position: relative;
            }
            .information__form{
                padding-top: 10px;
            .contact__details-address{
                padding-left: 60px;
                
                &:before{
                    content: "";
                    background: url('../img/location.svg') no-repeat;
                    width: 20px;
                    height: 22px;
                    position: absolute;
                    left: 10px;
                    bottom: 4px;
                }

            }
            .contact__details-phone{
                padding-left: 60px;
                &:before{
                    content: "";
                    background: url('../img/phone-call.svg') no-repeat;
                    width: 20px;
                    height: 22px;
                    position: absolute;
                    left: 10px;
                  
                }
            }
            .contact__details-email{
                padding-left: 60px;
                &:before{
                    content: "";
                    background: url('../img/email.svg') no-repeat;
                    width: 20px;
                    height: 22px;
                    position: absolute;
                    left: 10px;
                  
                }
            }
        }
        }
        .title__contact-form{
            padding-bottom: 20px;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            text-transform: uppercase;
        }

        .name__form{
            width: 210px;
            height: 30px;
            color: #BDBDBD;
            outline: 0;
            padding-left: 20px;
            margin-right: 15px;
            height: 50px;
        }

        .phone__form{
            width: 210px;
            height: 30px;
            color: #BDBDBD;
            outline: 0;
            padding-left: 20px;
            height: 50px;
           
        }
        input{
            margin-bottom: 15px;
            border-radius: 9px;
        }
        textarea{
            width:-webkit-fill-available;
            color: #BDBDBD;
            outline: 0;
            padding-top: 20px;
            padding-left: 20px;
            border-radius: 15px;
        }
        .form__btn{
            background-color: $red;
            color: #fff;
            border: none;
            border-radius: 9px;
            width: 160px;
            height: 61px;
            cursor: pointer;
            padding-right: 22px;
            font-weight: bold;
            margin-top: 22px;
        
        }
        form{
            position: relative;
        }
        .footer__required{
            font-size: 12px;
            line-height: 15px;
            color: #E0E0E0;
            bottom: 25px;
            right: 0;
            position: absolute;

        }
    }
    .footer-information{
        display: flex;
        justify-content: center;
        .container__footer-information{
            flex-basis: 90%;
            ul{
                display: flex;
                justify-content: center;
                color: #fff;
                list-style: none;
                // position: relative;
           
                li{
                    padding: 0 15px;
                }
            }
        }
    
        .payment-methods{
            // position: absolute;
            // left: 0;
            justify-content: flex-end;
            flex-basis: 10%;
        }
    }
    
  
   
} 

.popup-up{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // display: none;
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h4{
        font-weight: 600;
        font-size: 23px;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #0A223D;
        border-radius: 50px;
        padding: 11px 4px;
        color: #fff;
    }
    input{
        border: 1px solid #0A223D;
        border-radius: 10px;
        background-color: #fff;
        padding: 1.5rem 1.6rem;
        margin-bottom: 1.5rem;
        outline: none;
    }
    .button-order{
        width: 100%;
        color: #fff;
        background-color: #0A223D;
        margin-top: 1rem;
        padding: 15px;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
       }
}
.popup-content{
   position: fixed;
   text-align: center;
   max-width: 35rem;
   left: 50%;
   top: 20%;
   background-color: #fff;
   border-radius: 4px;
   transform: translateX(-50%);
   padding:  4rem 6rem 5rem 6rem;

}
.popup-close{
    position: absolute;
    top: -5rem;
    right: -1.5rem;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    background: transparent;
    color: #ffffff;
    border: none;
}


@media only screen and(max-width: 1200px){
    .social__media-block{
    //     flex-direction: row;
    // display: flex;
    white-space: nowrap;
    }
    footer .footer__container-bottom input{
        width: unset;
    }
}

@media only screen and(max-width: 950px){
    footer .container__footer-top .block__footer-top .social__media-block .title__footer-social{
        white-space: nowrap;
    }
    .social__media-block{
        white-space: revert;
    }
}


@media only screen and(max-width: 640px){
    footer .container__footer-top{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer .container__footer-top .block__footer-top{
        padding: 25px 0px;
    }
    footer .footer__container-bottom textarea{
        width: 85%;
    }
    footer .footer__container-bottom .form__btn{
        width: 130px;
        height: 43px;
    }
 
}
@media only screen and(max-width: 570px){
    footer .footer-information{
        flex-direction: column;
    }
}


