.nav__top{
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        padding: 12px 0px;
        color: black;
    } 
    .gift__card {
        padding-left: 18%;
    }
}    
.navbar{
    display: flex;   
    justify-content: space-between;
    min-height: 120px;
    padding-top: 75px;
    // padding: 75px 0;
    .user__information{
        display: flex;
        align-items: flex-start;
        .profile{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .profile__picture{ 
            width: 40px;
            height: 40px;
           border-radius: 50%;
        }
        .card{
            padding-right: 24%;
            padding-top: 7%;
            position: relative;
           .num__card{
            position: absolute;
            font-weight: 500;
            font-size: 10px;
            line-height: 20px;
            width: 20px;
            height: 20px;
            background-color: $red;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            bottom: 9px;
            right: 18px;
           }
        }
        .user{
            padding-left: 15px;
            &:after{
                content: "";
                position: absolute;
                background-image: url('../img/sign-down.svg');
                width: 24px;
                height: 15px;
                background-repeat: no-repeat;
            }
        }

    } 
    .form-search{
        .search__navbar{    
        background: #F5FAFE;
        border-radius: 6px;
        border: 1px none;
        line-height: 15px;
        padding: 14px 0px;
        outline: none;
        }
        .search{
            background-color: $red;
            padding: 12px 35px;
            cursor: pointer;
            position: relative;
            border-radius: 0px 15px 15px 0px
         }
 
    }
    .logo{     
        width: 177px;
        height: 40px;
   }
}


 
.navbar__bottom{
    background-color: #0A223D;
    width: 100%;
    min-height: 70px;
    ul{
        list-style: none;
        li{
      display: inline-block;
      padding: 33px 31px;
      &:first-child{
          padding-left: unset;
      }
      
        a{
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
        }
      }
    }
}
