.nav__top{
    display: flex;
    justify-content: space-evenly;

    p{
        text-decoration: none;
        // padding: 12px 0px;
        color: black;
        
    } 
    .questions{ 
        // padding-top: 19px;
    }

    .gift__card {
        padding-left: 18%;
    }
    .star__nav::after{
        content: "";
        background-image: url('../img/star.svg');
        width: 18px;
        height: 17px;
        display: block;
        position: relative;
        bottom: 21px;
        right: 25px; 
    }
    .star__nav:hover::after{
        content: "";  
        background-image: url('../img/star.svg');
        background-color: red;
        width: 18px;
        height: 17px;
        display: block;
        position: relative;
        bottom: 21px;
        right: 25px;
    }
}    

.navbar{
    display: flex;   
    justify-content: space-evenly;
    min-height: 120px;
    padding-top: 75px;
    position: relative;
    // padding: 75px 0;
    .user__information{
        display: flex;
        align-items: flex-start;
        .profile{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .profile__picture{ 
            width: 40px;
            height: 40px;
           border-radius: 50%;
        }
        .card{
            padding-right: 24%;
            padding-top: 7%;
            position: relative;
           .num__card{
            position: relative;
            font-weight: 500;
            font-size: 10px;
            line-height: 20px;
            width: 20px;
            height: 20px;
            background-color: #EC1F46;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            bottom: 50px;
            left: 17px;
           }
        }
        .user{
            padding-left: 15px;
            // &:after{
            //     content: "";
            //     position: absolute;
            //     background-image: url('../img/sign-down.svg');
            //     width: 24px;
            //     height: 15px;
            //     background-repeat: no-repeat;
            // }
        }
        .dropdown {
            position: relative;
            display: inline-block;
          }
          .dropbtn{
              background-color: transparent;
              cursor: pointer;
              border: none;
              outline: none;
              padding-top: 8px;
          }
          .dropdown-content{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px; 
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
        .dropdown-content a:hover {
             background-color: #f1f1f1
     }
     .dropdown-content a {
           color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
}
    .dropdown:hover .dropdown-content {
            display: block;
          }
    } 
    .form-search{
        .search__navbar{    
        background: #F5FAFE;
        border-radius: 6px;
        border: 1px none;
        line-height: 15px;
        padding: 14px 0px;
        outline: none;
        }
        .search{
            background-color: $red;
            padding: 12px 35px;
            cursor: pointer;
            position: relative;
            border-radius: 0px 15px 15px 0px
         }
 
    }
//     .logo{     
//         width: 177px;
//         height: 40px;
//    }
.logo{
    font-family: 'Luckiest Guy', cursive;    
    font-weight: 600;   
    color: #000;
    font-size: 34px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 12px;
    span{
        color: $red;
    }

}

}


 
.navbar__bottom{
    background-color: #0A223D;
    width: 100%;
    min-height: 70px;
    ul{
        list-style: none;
        text-align: center;
        li{
      display: inline-block;
      padding: 33px 31px;
      &:first-child{
          padding-left: unset;
      }
      
        a{
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            transition: all.5s ;
            &:hover{
                color: red;
            }
        }
      }
    }
}


.header__information{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 25px;
  .header__information-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    &::after{
        content: "Flash Offer";
        width: 92px;
        height: 36px;
        background-color: $red;
        border: none;
        outline: 0;
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        line-height: 13px;
        margin-top: 9px;
        margin-left: 25px;
        border-radius: 3px;
        padding: 7px 10px;
    }
  }
  .user__rating-btn{
    position: absolute;
    right: 96px;
    bottom: 0;
    background-color: $red;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 13px 15px;
    height: 70px;
    margin-bottom: 1.5%;
    .number__rating{
        font-weight: bold;
        font-size: 21px;
    }
  }
}
.menu__btn{
  display: none;
}
  

.menu-mobile__list--active{
    transform: translateX(0%) !important;
}
.menu-mobile__link{
    display: block;
    // padding-left: 53px;
    // padding-top: 36px;
} 


@media only screen and (max-width:1455px) {
  .dropdown-content{
        right: 0;
  }
}
@media only screen and (max-width:1170px) {
    .navbar__element{
        flex-basis: 30%;
    }
    .navbar .user__information .card{
        padding-top: unset;
    }

}

@media only screen and (max-width:1140px) {
    .menu__btn{
        display: block!important;
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
        position: relative;
        left: 38px;

        .menu__btn-line{
            background: #000;
            border-radius: 3px;
            height: 3px;
            width: 34px;
            margin: 8px 0;
        }
    }
    .breadcrumbs{
        justify-content: flex-end;
    }
    // #menu__nav{
    //     display: none;
    // }

    .navbar__bottom ul li a{
        color: #000;
    }
    .menu-mobile__list{
        width: 243px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        transform: translateX(-115%);
        transition: all .3s ;
        position: absolute;
        z-index: 100;
        background: #FFF;
    }
    .navbar__bottom ul li{
        padding: 42px 64px 4px 0px;
        
    }
    .navbar__bottom{
        background-color: #F5FAFE;
    }

}



@media only screen and (max-width:999px){
    .form-search{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        .search__navbar{
            width: 75%;

        }
    }
    .navbar__element{
        flex-basis: 50%;
    }
    
    .navbar .user__information .card{
        position: absolute;
        bottom: 85%;
    }
}

@media only screen and (max-width:800px) {
    .nav__top{
        flex-direction: column;
        .gift__card{
        padding-left: unset;

        }
    }
    .navbar{

        .logo{
            position: relative;
            bottom: 70px;
        }
         .user__information{
            position: relative;
            bottom: 70px;
            justify-content: flex-end;
            .dropdown-content{
                position: absolute;
                // right: 35px;
            }
        }

    }
}
@media only screen and(max-width: 770px){
    .header__information .user__rating-btn{
        display: none;
    }
}

@media only screen and(max-width: 495px){
    .header__information .header__information-title::after{
    display: none;    
    }
}
@media only screen and (max-width:425px){
    // .card{
    //     display: none;
    // }

}

@media only screen and (max-width:410px){
    .navbar .form-search .search{
        padding: 10px 21px;
    }

}



