.other__offers{
    // margin: 50px 0;
    h1{
        text-transform: uppercase;
        color: $brown;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }
    .container__offers{
        display: flex;
        justify-content: space-between;
        .block__offer{
            height: 500px;
            border-radius: 5px;
            background-color: $blue;
        }
        .blue__haven{
            flex-basis: 65%;
            margin-right: 25px;
            position: relative;
            img{
                right: 4px;
                position: relative;
            }
                .small__rating{
                    padding: 35px 45px;
                    position: absolute;
                    top: 0;
                }
                h3{
                    padding: 50px 119px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #fff;
                }
                p{
                    padding: 50px 130px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #fff;
                }
        }
        .lux__belle{
            flex-basis: 35%;
        }
    }

}  