.other-activities{
 margin: 65px 0;
 h1{
     text-align: left;
     text-transform: uppercase;
 }
 .block__activity{
     margin-top: 57px;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     align-items: center;
 }
 .activity__card{
     flex-basis: 23%;
     color: #fff;
     height: 255px;
     position: relative;  
    //  box-shadow: 0 0 0  45px rgba(34, 60, 80, 0.69) inset;
 }
 .bar__card{
     background: url('../img/bar.png') no-repeat;
     background-size: cover;
 }
.text__block-activity{
    position: absolute;
    bottom: 0;
    padding: 0 51px 12px 32px;  
    button{
        color: #fff;
        background-color: $red;
        padding: 11px 22px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 8px;
    }
   h3{
       font-weight: 600;
   }
}
.gulf__card{
    background: url('../img/gulf.png') no-repeat;
    background-size: cover;
}
.hiking__card{
    background: url('../img/hiking.png') no-repeat;
    background-size: cover;
 }
 .marine__card{
    background: url('../img/marine.png') no-repeat;
    background-size: cover;
 }

}
.adaptive__beach{
    display: none;
}
.prices__list-adaptive{
    display: none;
}
.text__beach{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media only screen and(max-width: 800px){
    .img__blue-beach{
        display: none;
    }   
    .prices__list{
        display: none;
        .prices{
            display: none;
        }
    }
    .prices__list-adaptive{
        display: block;
        margin: unset;
        position: absolute;
        left: 205px;
        list-style: none;
    }

    .adaptive__beach{
        display: block;
        height: 307px;
        object-fit: cover;
        width: 100%;
    }

    .other__offers .container__offers .blue__haven{
        height: 682px;
        flex-wrap: wrap;
        flex-basis: 100%;
    }
    .other__offers .container__offers .blue__haven .text{

        padding: 5px 42px;
        flex-basis: unset;
        font-size: 15px;
    }
    
.other__offers .container__offers .blue__haven span {
    padding: 5px 2px 5px 28px;
    }
 .other__offers .container__offers .blue__haven .price__new{
    // bottom: 31px;
 }
}
@media only screen and(max-width: 740px){
    .other__offers .container__offers .lux__belle, .other__offers .container__offers .palace{
        flex-basis: 100%;
        margin: 15px auto;
    }
    .other__offers .container__offers .lux__belle img, .other__offers .container__offers .palace img{
        height: 48%;
        object-fit: cover;
    }
}
@media only screen and(max-width: 650px){
    .prices{
        bottom: 253px!important;
        left: 0px!important;
        position: relative ;
    }
    .paragr__haven{
        padding-top: 35px;
    }
    .prices__list{
        display: inherit;
        li{
            padding-right: 15px;
        }
    }
  

}


@media only screen and(max-width: 510px){
    .text__beach{
        position: relative;
        bottom: 9%;
    }
    
}
@media only screen and(max-width: 430px){
    .other__offers .container__offers .blue__haven button{
        padding: 12px 14px;
        font-size: 13px;
        bottom: 13px;
    }
    .paragr__haven{
        margin: unset;
        padding: 35px -1px;
    }

    
}
@media only screen and(max-width: 810px){
    // .other-activities .text__block-activity{
    //     padding: 0 25px 12px 11px;
    // }
    .other-activities .block__activity{
        display: inline;
    }
    .other-activities .text__block-activity h3{
        font-size: 35px;
    }
}
