.packages{
    margin: 60px 0;
    h2{
        padding: 25px 25px;
        color: #fff;
        font-weight: 500;
        background-color: #0A223D;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .conainer__descriptions{
        display: flex;
        justify-content: space-between;
        padding-top: 70px;
        position: relative;
        h3{
            color: $red;
            font-weight: 500;
            position: relative;
            left: 42px;
        }
        ul{
            // list-style-image: url('../img/circle.svg');

            li{
                padding: 9px 26px;
                color: #333;
                background: url(../img/circle.svg) 3px 12px no-repeat;
                list-style: none;
                margin: 0;
                // &:nth-child(1){
                //     padding-top: unset;
                // }
                
            }
        }
    }
    .conainer__description_second{
        display: flex;
        justify-content: space-between;
        padding-top: 70px;
        
        .box__detail{
            flex-basis: 27%;
            // padding: 0 75px;
            // &:nth-child(3){
            //     padding-right: 55px;
            // }
        

        }
        h3{
            color: $red;
            font-weight: 500;
            position: relative;
            left: 42px;
        }
        ul{
            list-style-image: url('../img/circle.svg');
            
            li{
                padding: 14px 22px;
                color: #333;
                background: url(../img/circle.svg) 0px no-repeat;
                list-style: none;
                margin: 0;
                &::marker{
                    font-size: 15px;
                    padding-top: 5px;
                }
             
                
            }

        }
    }
}
@media only screen and(max-width: 950px){
    .conainer__descriptions{
        flex-direction: column;
      }
      .conainer__description_second{
          flex-direction: column;
      }
}
